.secnav {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.377);
  z-index: 999;
  transition: 0.2s ease-out;
}
.secnav .nav1 {
  background-color: #191A19;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}
.secnav .nav1 .container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secnav .nav1 .container .sec1 {
  display: flex;
  align-items: center;
}
.secnav .nav1 .container .sec1 .logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/streetHub.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.secnav .nav1 .container .sec1 .humb #check {
  display: none;
}
.secnav .nav1 .container .sec1 .navbar {
  display: flex;
  align-items: center;
}
.secnav .nav1 .container .sec1 .navbar .pencarian {
  margin: auto 20px;
}
.secnav .nav1 .container .sec1 .navbar .pencarian input {
  font-size: 0.8em;
  outline: none;
  border: 0.5px solid #191A19;
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
  background-color: #0e0e0e;
  color: white;
  border-radius: 10px;
  padding: 5px 12px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
.secnav .nav1 .container .sec1 .navbar .pencarian input:focus {
  border: 1px solid #18A13D;
  box-shadow: 0 0 10px rgba(49, 181, 95, 0.274);
  width: 200px;
}
.secnav .nav1 .container .sec1 .navbar .navMenu {
  display: flex;
  list-style: none;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li {
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li a {
  text-align: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li span {
  width: 100%;
  height: 3px;
  background-color: #18A13D;
  opacity: 0;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li:hover span {
  opacity: 1;
}
.secnav .nav1 .container .secTengah {
  display: none;
}
.secnav .nav1 .container .secTengah .logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/streetHub.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.secnav .nav1 .container .sec2 {
  display: flex;
  align-items: center;
  position: relative;
}
.secnav .nav1 .container .sec2 .keranjang {
  width: 30px;
  height: 30px;
  justify-self: flex-end;
  background-image: url(../img/icon/keranjang1.png);
  background-size: cover;
  margin-left: 20px;
  cursor: pointer;
}
.secnav .nav1 .container .sec2 .signinLink {
  background-color: #18A13D;
  padding: 3px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 10px;
}
.secnav .nav1 .container .sec2 .signinLink a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.secnav .nav1 .container .sec2 .account {
  justify-self: flex-end;
  background-color: #18A13D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.secnav .nav1 .container .sec2 .account .profile {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.secnav .nav1 .container .sec2 .account .arrow {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon//panahKanan2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  margin: 5px;
}
.secnav .nav1 .container .sec2 .dropdown {
  background-color: #191A19;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -150px;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
  border-radius: 5px;
}
.secnav .nav1 .container .sec2 .dropdown .segitiga {
  width: 0;
  height: 0;
  position: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #191A19;
  top: -10px;
  right: 35px;
}
.secnav .nav1 .container .sec2 .dropdown a {
  width: 100px;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}
.secnav .nav1 .container .sec2 .dropdown a:hover {
  color: #18A13D;
}
.secnav .nav1 .container .sec2 .dropdown span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin-bottom: 5px;
}
.secnav .nav1 .container .sec2 .dropdown form button {
  font-size: 1em;
  font-weight: 300;
  background-color: #191A19;
  color: white;
  border: 0;
}
.secnav .nav1 .container .sec2 .dropdown form button:hover {
  color: #a02525;
}
.secnav .nav2 {
  display: none;
}
.secnav .nav2 form button {
  font-size: 1em;
  font-weight: bold;
  background-color: #191A19;
  color: white;
  border: 0;
}
.secnav .nav2 form button:hover {
  color: red;
}

.scroll-down div.secnav {
  transform: translate3d(0, -100%, 0);
}

@media (max-width: 850px) {
  .secnav .nav1 {
    position: relative;
  }
  .secnav .nav1 .container .sec1 {
    flex-direction: row-reverse;
  }
  .secnav .nav1 .container .sec1 .humb {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }
  .secnav .nav1 .container .sec1 .humb #check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .secnav .nav1 .container .sec1 .humb span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
  }
  .secnav .nav1 .container .sec1 .logo {
    display: none;
  }
  .secnav .nav1 .container .sec1 .navbar {
    display: none;
  }
  .secnav .nav1 .container .secTengah {
    display: block;
  }
  .secnav .nav1 .container .sec2 {
    display: flex;
    align-items: center;
  }
  .secnav .nav1 .container .sec2 .keranjang {
    margin-left: 0;
  }
  .secnav .nav1 .container .sec2 .account, .secnav .nav1 .container .sec2 .signinLink {
    display: none;
  }
  .secnav .nav2 {
    display: flex;
    background-color: #191A19;
    font-size: 16px;
  }
  .secnav .nav2 .navbar {
    width: 95%;
    margin: 10px auto;
  }
  .secnav .nav2 .navbar .pencarian {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .secnav .nav2 .navbar .pencarian input {
    width: 99.9%;
    font-size: 0.8em;
    outline: none;
    border: 1px solid #191A19;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
    background-color: #0e0e0e;
    color: white;
    border-radius: 10px;
    padding: 5px 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .secnav .nav2 .navbar .pencarian input:focus {
    border: 1px solid #18A13D;
    box-shadow: 0 0 10px rgba(49, 181, 95, 0.274);
  }
  .secnav .nav2 .navbar .navMenu {
    font-weight: bold;
    list-style: none;
    color: white;
  }
  .secnav .nav2 .navbar .navMenu a {
    text-decoration: none;
    color: white;
  }
  .secnav .nav2 .navbar .navMenu li {
    display: flex;
    flex-direction: column;
  }
  .secnav .nav2 .navbar .navMenu li a {
    margin-bottom: 5px;
  }
  .secnav .nav2 .navbar .navMenu li a:hover {
    color: #18A13D;
  }
  .secnav .nav2 .navbar .navMenu li a.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .secnav .nav2 .navbar .navMenu li a.profile .circleProfile {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
  }
  .secnav .nav2 .navbar .navMenu li form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .secnav .nav2 .navbar .navMenu li form .iconLogout {
    background-image: url(../img/icon/logout.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .secnav .nav2 span {
    width: 99.9%;
    height: 3px;
    background-color: #1E201E;
    margin-bottom: 10px;
  }
}
div#bookmark.bookmark {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
div#bookmark.bookmark .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
div#bookmark.bookmark .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#bookmark.bookmark .content .logo {
  width: 90px;
  height: 90px;
  background-color: #18A13D;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bookmark.bookmark .content .logo .mainLogo {
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div#bookmark.bookmark .content h1 {
  font-size: 3.5em;
  text-align: center;
}
div#bookmark.bookmark .content p {
  margin-top: 5px;
  font-size: 1.3em;
}

footer.footer {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer.footer .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  footer.footer .container {
    width: 95%;
    padding: 60px 0;
  }
}
footer.footer .container .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
footer.footer .container .links ul {
  list-style-type: none;
}
footer.footer .container .links .card {
  width: 150px;
}
footer.footer .container .links .card ul li {
  margin-bottom: 20px;
}
footer.footer .container .links .card ul li span {
  font-weight: bold;
}
footer.footer .container .links .card ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
footer.footer .container .links .card ul li a:hover {
  color: #18A13D;
}
footer.footer .container .links .card ul li .logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer.footer .container .links .card ul li .logo.fb {
  background-image: url(../img/icon/facebook.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.ig {
  background-image: url(../img/icon/instagram.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.tw {
  background-image: url(../img/icon/twitter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.web {
  background-image: url(../img/icon/web.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .cardAppLink {
  width: 220px;
}
footer.footer .container .links .cardAppLink span {
  font-weight: bold;
  margin-bottom: 10px;
}
footer.footer .container .links .cardAppLink .app {
  display: flex;
  justify-content: space-between;
}
footer.footer .container .links .cardAppLink .app .appLogo {
  width: 100px;
  height: 45px;
}
footer.footer .container .links .cardAppLink .app .appLogo.appStore {
  background-image: url(../img/icon/appStore.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .cardAppLink .app .appLogo.googlePlay {
  background-image: url(../img/icon/googlePlay.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .line {
  width: 100%;
  height: 3px;
  background-color: #1E201E;
  margin: 100px auto 20px;
}
footer.footer .container .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer.footer .container .copyright a {
  color: white;
  text-decoration: none;
}
footer.footer .container .copyright a:hover {
  color: #18A13D;
}
footer.footer .container .copyright .dll {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

@media (max-width: 768px) {
  footer.footer .container .links .card {
    margin-bottom: 20px;
  }
  footer.footer .container .line {
    margin-top: 40px;
  }
  footer.footer .container .copyright .copyBy {
    width: 150px;
  }
  footer.footer .container .copyright .dll {
    width: 200px;
  }
}
@media (max-width: 576px) {
  footer.footer .container .copyright {
    flex-direction: column;
  }
  footer.footer .container .copyright .copyBy {
    margin-bottom: 10px;
  }
}
.alertSection#alertSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.alertSection#alertSection .container {
  width: 90%;
  height: 90%;
  max-width: 500px;
  max-height: 200px;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #191A19;
}
.alertSection#alertSection .container h1 {
  margin-bottom: 5px;
}
.alertSection#alertSection .container p {
  margin-bottom: 10px;
}
.alertSection#alertSection .container .btn {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #18A13D;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.1s linear;
  cursor: pointer;
}
.alertSection#alertSection .container .btn:hover {
  transform: scale(1.02);
}
.alertSection#alertSection .container .btn:active {
  transform: scale(0.98);
}
.alertSection#alertSection .container .btn {
  border: none;
  margin: 0 5px;
}
.alertSection#alertSection .container .btn#btnNo {
  background-color: #a02525;
}

.hero {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: herobg 300s linear infinite;
          animation: herobg 300s linear infinite;
  background-position: center;
  background-size: cover;
}
.hero .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .hero .container {
    width: 95%;
    padding: 60px 0;
  }
}
.hero .container {
  font-size: 16px;
}
.hero .container h1 {
  font-size: 4em;
  margin-bottom: 30px;
}
.hero .container h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
.hero .container p {
  font-size: 1em;
  width: 450px;
  text-align: center;
  margin-bottom: 100px;
}
.hero .container .btn {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #18A13D;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.1s linear;
  cursor: pointer;
}
.hero .container .btn:hover {
  transform: scale(1.02);
}
.hero .container .btn:active {
  transform: scale(0.98);
}
@-webkit-keyframes herobg {
  0% {
    background-image: url(../img/home/home3.png);
  }
  24% {
    background-image: url(../img/home/home4.png);
  }
  25% {
    background-image: url(../img/home/home2.png);
  }
  49% {
    background-image: url(../img/home/home2.png);
  }
  50% {
    background-image: url(../img/home/home1.png);
  }
  74% {
    background-image: url(../img/home/home1.png);
  }
  75% {
    background-image: url(../img/home/home4.png);
  }
  99% {
    background-image: url(../img/home/home4.png);
  }
  100% {
    background-image: url(../img/home/home5.png);
  }
}
@keyframes herobg {
  0% {
    background-image: url(../img/home/home3.png);
  }
  24% {
    background-image: url(../img/home/home4.png);
  }
  25% {
    background-image: url(../img/home/home2.png);
  }
  49% {
    background-image: url(../img/home/home2.png);
  }
  50% {
    background-image: url(../img/home/home1.png);
  }
  74% {
    background-image: url(../img/home/home1.png);
  }
  75% {
    background-image: url(../img/home/home4.png);
  }
  99% {
    background-image: url(../img/home/home4.png);
  }
  100% {
    background-image: url(../img/home/home5.png);
  }
}

@media (max-width: 990px) {
  .hero .container h2 {
    font-size: 1.4em;
  }
}
@media (max-width: 768px) {
  .hero .container h1 {
    font-size: 3.8em;
    margin-bottom: 25px;
  }
  .hero .container h2 {
    font-size: 1em;
  }
  .hero .container p {
    font-size: 0.9em;
  }
}
@media (max-width: 576px) {
  .hero .container h1 {
    font-size: 3.4em;
    margin-bottom: 25px;
  }
  .hero .container h2 {
    font-size: 1em;
  }
  .hero .container p {
    max-width: 320px;
    font-size: 0.8em;
    margin-bottom: 70px;
  }
}
@media (max-width: 390px) {
  .hero .container h1 {
    font-size: 3em;
    margin-bottom: 25px;
  }
  .hero .container h2 {
    font-size: 0.9em;
  }
  .hero .container p {
    max-width: 250px;
    font-size: 0.8em;
    margin-bottom: 60px;
  }
}
.about {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.about .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .about .container {
    width: 95%;
    padding: 60px 0;
  }
}
.about .container {
  justify-content: flex-start;
}
.about .container h1 {
  font-size: 2.5em;
  margin-bottom: 50px;
  text-align: center;
}
.about .container h1 span {
  color: #18A13D;
}
@media (max-width: laptop) {
  .about .container h1 {
    font-size: 2.3em;
  }
}
@media (max-width: 768px) {
  .about .container h1 {
    font-size: 2.1em;
  }
}
@media (max-width: 576px) {
  .about .container h1 {
    font-size: 2.1em;
  }
}
.about .container .cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .container .cards .card {
  width: 23%;
}
.about .container .cards .card .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about .container .cards .card .icon.ic1 {
  background-image: url(../img/icon/bangunPortpolio.png);
}
.about .container .cards .card .icon.ic2 {
  background-image: url(../img/icon/pesaing.png);
}
.about .container .cards .card .icon.ic3 {
  background-image: url(../img/icon/kemampuan.png);
}
.about .container .cards .card .icon.ic4 {
  background-image: url(../img/icon/jual.png);
}
.about .container .cards .card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.about .container .cards .card h2 span {
  color: #18A13D;
}
.about .container .cards .card p {
  text-align: start;
}
.about .container .unduhApp {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about .container .unduhApp .corner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about .container .unduhApp .corner h1.unduh {
  font-size: 2.5em;
  margin-bottom: 15px;
  text-align: start;
}
.about .container .unduhApp .corner h1.unduh span {
  color: #18A13D;
}
.about .container .unduhApp .corner p {
  max-width: 500px;
  margin-bottom: 15px;
}
.about .container .unduhApp .corner .app {
  display: flex;
}
.about .container .unduhApp .corner .app a .appIcon {
  width: 100px;
  height: 45px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.about .container .unduhApp .corner .app a .appIcon.appStore {
  background-image: url(../img/icon/appStore.png);
  background-blend-mode: screen;
}
.about .container .unduhApp .corner .app a .appIcon.googlePlay {
  background-image: url(../img/icon/googlePlay.png);
  background-blend-mode: screen;
}
.about .container .unduhApp .mockupApp {
  display: flex;
  justify-content: flex-end;
}
.about .container .unduhApp .mockupApp img {
  width: 300px;
}

@media (max-width: 990px) {
  .about .container .cards .card {
    width: 23%;
  }
  .about .container .unduhApp .corner p {
    width: 90%;
  }
  .about .container .unduhApp .corner .app {
    display: flex;
  }
  .about .container .unduhApp .mockupApp {
    width: 30%;
  }
  .about .container .unduhApp .mockupApp img {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .about .container .cards {
    flex-wrap: wrap;
  }
  .about .container .cards .card {
    width: 48%;
  }
  .about .container .cards .card .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }
  .about .container .cards .card p {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  .about .container .unduhApp {
    flex-direction: column;
  }
  .about .container .unduhApp .corner {
    width: 100%;
  }
  .about .container .unduhApp .corner h1 {
    margin-top: 50px;
    font-size: 2.1em;
  }
  .about .container .unduhApp .corner p {
    width: 80%;
    font-size: 0.9em;
  }
  .about .container .unduhApp .mockupApp {
    width: 100%;
    justify-content: flex-end;
  }
  .about .container .unduhApp .mockupApp img {
    width: 180px;
  }
}
@media (max-width: 576px) {
  .about .container h1 {
    font-size: 2em;
  }
  .about .container .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .about .container .cards .card p {
    text-align: start;
    font-size: 0.9em;
    width: 80%;
    margin-bottom: 20px;
  }
  .about .container .unduhApp {
    flex-direction: column;
  }
  .about .container .unduhApp .corner {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .about .container .unduhApp .corner h1.unduh {
    width: 100%;
    margin-top: 50px;
    font-size: 2em;
    text-align: center;
  }
  .about .container .unduhApp .corner p {
    text-align: start;
    width: 80%;
    font-size: 0.9em;
  }
  .about .container .unduhApp .corner .app {
    margin-bottom: 20px;
  }
  .about .container .unduhApp .mockupApp {
    width: 100%;
    justify-content: center;
  }
  .about .container .unduhApp .mockupApp img {
    width: 180px;
  }
}
@media (max-width: 390px) {
  .about .container .cards .card p {
    width: 90%;
  }
  .about .container .unduhApp .corner p {
    width: 90%;
  }
}
.big3 {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.big3 .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .big3 .container {
    width: 95%;
    padding: 60px 0;
  }
}
.big3 .container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
.big3 .container h1 span {
  color: #18A13D;
}
@media (max-width: laptop) {
  .big3 .container h1 {
    font-size: 2.3em;
  }
}
@media (max-width: 768px) {
  .big3 .container h1 {
    font-size: 2.1em;
  }
}
@media (max-width: 576px) {
  .big3 .container h1 {
    font-size: 2.1em;
  }
}
.big3 .container .btn {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #18A13D;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.1s linear;
  cursor: pointer;
}
.big3 .container .btn:hover {
  transform: scale(1.02);
}
.big3 .container .btn:active {
  transform: scale(0.98);
}
.big3 .container p {
  margin-bottom: 30px;
}
.big3 .container .cards {
  width: 100%;
  margin: 100px auto 50px;
  display: flex;
  justify-content: space-between;
}
.big3 .container .cards .card {
  width: 31%;
  max-width: 350px;
  height: 470px;
  background-color: #1E201E;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.big3 .container .cards .card .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.2s linear;
}
.big3 .container .cards .card .img .btnArrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.1s linear;
  background-color: transparent;
  border: 2px solid white;
}
.big3 .container .cards .card .img .btnArrow:hover {
  border: 2px solid #18A13D;
  background-color: #18A13D;
}
.big3 .container .cards .card .img .btnArrow p {
  margin: 0;
}
.big3 .container .cards .card .img .btnArrow .arrow {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/panahKanan1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}
.big3 .container .cards .card .img .btnArrow:hover {
  transform: scale(1.03);
}
@media (max-width: 990px) {
  .big3 .container .cards .card .img .btnArrow {
    padding: 5px 10px;
    padding: 5px 10px;
  }
  .big3 .container .cards .card .img .btnArrow .arrow {
    width: 12px;
    height: 12px;
  }
}
.big3 .container .cards .card .img .btnArrow {
  cursor: pointer;
}
.big3 .container .cards .card .img h1 {
  text-align: start;
}
.big3 .container .cards .card .img .dnone {
  display: none;
}
.big3 .container .cards .card .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
}
.big3 .container .cards .card .info .circleProfile {
  width: 50px;
  height: 50px;
  background-color: #18A13D;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50px;
  top: -25px;
  transition: 0.1s linear;
  border: 3px solid #1E201E;
}
.big3 .container .cards .card .info .circleProfile .icon {
  width: 32px;
  height: 32px;
  background-image: url(../img/icon/user.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.big3 .container .cards .card .info .circleProfile:hover {
  transform: scale(1.03);
}
.big3 .container .cards .card .info h1 {
  margin-bottom: 5px;
  margin-top: 30px;
}
.big3 .container .cards .card .info p a {
  text-decoration: none;
  color: white;
}
.big3 .container .cards .card .info p a:hover {
  text-decoration: underline;
}
.big3 .container .cards .card .info p span {
  font-weight: bold;
}
.big3 .container .cards .card .info .line {
  width: 100%;
  height: 3px;
  background-color: #191A19;
}
.big3 .container .cards .card .info .recor {
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
.big3 .container .cards .card .info .recor h1 {
  margin-top: 5px;
}
.big3 .container .cards .card .info .dnone {
  display: none;
}
.big3 .container .cards .card .imgSize {
  height: 50%;
}

@media (max-width: 990px) {
  .big3 .container p {
    text-align: center;
  }
  .big3 .container .cards .card h1 {
    font-size: 2em;
  }
  .big3 .container .cards .card .info .circleProfile {
    left: 20px;
    top: -25px;
  }
}
@media (max-width: 768px) {
  .big3 .container h1 {
    font-size: 2em;
  }
  .big3 .container p {
    max-width: 90%;
  }
  .big3 .container .cards {
    flex-direction: column;
    align-items: center;
  }
  .big3 .container .cards .card {
    width: 90%;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .big3 .container .cards .card .img {
    padding: 30px;
  }
  .big3 .container .cards .card .info .circleProfile {
    left: 70px;
    top: -25px;
  }
}
@media (max-width: 576px) {
  .big3 .container p {
    font-size: 0.9em;
  }
  .big3 .container .cards .card .info h1, .big3 .container .cards .card .info .line {
    margin-bottom: 10px;
  }
  .big3 .container .cards .card .info .circleProfile {
    left: 50px;
    top: -25px;
  }
}
@media (max-width: 390px) {
  .big3 .container .cards .card .info .circleProfile {
    left: 30px;
    top: -25px;
  }
}
.portpolio {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.portpolio .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .portpolio .container {
    width: 95%;
    padding: 60px 0;
  }
}
.portpolio .container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
.portpolio .container h1 span {
  color: #18A13D;
}
@media (max-width: laptop) {
  .portpolio .container h1 {
    font-size: 2.3em;
  }
}
@media (max-width: 768px) {
  .portpolio .container h1 {
    font-size: 2.1em;
  }
}
@media (max-width: 576px) {
  .portpolio .container h1 {
    font-size: 2.1em;
  }
}
.portpolio .container .btn {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #18A13D;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.1s linear;
  cursor: pointer;
}
.portpolio .container .btn:hover {
  transform: scale(1.02);
}
.portpolio .container .btn:active {
  transform: scale(0.98);
}
.portpolio .container p {
  text-align: center;
  margin-bottom: 30px;
}
.portpolio .container img {
  margin: 80px auto 30px;
  width: 90%;
  max-width: 700px;
}

@media (max-width: 576px) {
  p {
    width: 90%;
  }
}
.lisensi {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.lisensi .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .lisensi .container {
    width: 95%;
    padding: 60px 0;
  }
}
.lisensi .container {
  justify-content: space-between;
}
.lisensi .container img {
  width: 48%;
  max-width: 500px;
}
.lisensi .container .sidebox {
  width: 48%;
  max-width: 600px;
}
.lisensi .container .sidebox h2 {
  color: #18A13D;
  font-size: 1.5em;
}
.lisensi .container .sidebox h1 {
  font-size: 3.5em;
  width: 200px;
  margin-bottom: 20px;
}
.lisensi .container .sidebox h1 span {
  color: #18A13D;
}
.lisensi .container .sidebox p {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .lisensi .container .sidebox h2 {
    font-size: 1.3em;
  }
  .lisensi .container .sidebox h1 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .lisensi .container .sidebox h2 {
    font-size: 1.2em;
  }
  .lisensi .container .sidebox h1 {
    font-size: 2.5em;
  }
}
.lisensi .container .sidebox .btnArrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.1s linear;
  background-color: #18A13D;
  border: 0;
}
.lisensi .container .sidebox .btnArrow p {
  margin: 0;
}
.lisensi .container .sidebox .btnArrow .arrow {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/panahKanan1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}
.lisensi .container .sidebox .btnArrow:hover {
  transform: scale(1.03);
}
@media (max-width: 990px) {
  .lisensi .container .sidebox .btnArrow {
    padding: 5px 10px;
    padding: 8px 16px;
  }
  .lisensi .container .sidebox .btnArrow .arrow {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 768px) {
  .lisensi {
    width: 100%;
    font-size: 16px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .lisensi .container {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    height: fit-content;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  .lisensi .container {
    width: 95%;
    padding: 60px 0;
  }
}
@media (max-width: 768px) {
  .lisensi .container img {
    width: 90%;
  }
  .lisensi .container .sidebox {
    width: 90%;
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .lisensi .container .sidebox {
    width: 90%;
    margin-bottom: 80px;
  }
}
.produk {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url(../img/home/alattempur.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 500px;
  overflow: hidden;
}
.produk .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .produk .container {
    width: 95%;
    padding: 60px 0;
  }
}
.produk .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.produk .container .sidebox {
  width: 500px;
}
.produk .container .sidebox h2 {
  color: #18A13D;
  font-size: 1.5em;
}
.produk .container .sidebox h1 {
  font-size: 3.5em;
  width: 200px;
  margin-bottom: 20px;
}
.produk .container .sidebox h1 span {
  color: #18A13D;
}
.produk .container .sidebox p {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .produk .container .sidebox h2 {
    font-size: 1.3em;
  }
  .produk .container .sidebox h1 {
    font-size: 3em;
  }
}
@media (max-width: 768px) {
  .produk .container .sidebox h2 {
    font-size: 1.2em;
  }
  .produk .container .sidebox h1 {
    font-size: 2.5em;
  }
}
.produk .container .sidebox .btnArrow {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.1s linear;
  background-color: #18A13D;
  border: 0;
}
.produk .container .sidebox .btnArrow p {
  margin: 0;
}
.produk .container .sidebox .btnArrow .arrow {
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/panahKanan1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}
.produk .container .sidebox .btnArrow:hover {
  transform: scale(1.03);
}
@media (max-width: 990px) {
  .produk .container .sidebox .btnArrow {
    padding: 5px 10px;
    padding: 8px 16px;
  }
  .produk .container .sidebox .btnArrow .arrow {
    width: 12px;
    height: 12px;
  }
}
.produk .container .slider {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.produk .container .slider .cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 550px;
}
.produk .container .slider .cards .card {
  width: 230px;
  height: 330px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: scale(0.95);
  -webkit-animation: scaleUp 0.4s ease-in forwards alternate;
          animation: scaleUp 0.4s ease-in forwards alternate;
}
.produk .container .slider .cards .card .icon {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.produk .container .slider .cards .card .icon:hover {
  opacity: 1;
}
.produk .container .slider .cards .card:hover {
  transform: scale(1.02);
}
@-webkit-keyframes scaleUp {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleUp {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.produk .container .slider .cards .dnone {
  display: none;
}
.produk .container .slider .btnMove {
  top: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.produk .container .slider .btnMove .arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.produk .container .slider .btnMove.next {
  right: 0;
  background-image: url(../img/icon/arrowNext.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.produk .container .slider .btnMove.previous {
  left: 0;
  background-image: url(../img/icon/arrowPriveous.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.produk .container .slider .dnone {
  display: none;
}

@media (max-width: 990px) {
  .produk {
    width: 100%;
    font-size: 16px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .produk .container {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
    height: fit-content;
    padding: 100px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 990px) and (max-width: 576px) {
  .produk .container {
    width: 95%;
    padding: 60px 0;
  }
}
@media (max-width: 990px) {
  .produk .sidebox {
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) {
  .produk .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .produk .container .sidebox {
    width: 90%;
  }
  .produk .container .slider {
    width: 90%;
  }
  .produk .container .slider .cards .card {
    width: 180px;
    height: 280px;
  }
}
@media (max-width: 576px) {
  .produk .container .sidebox {
    width: 90%;
  }
  .produk .container .slider {
    width: 90%;
  }
  .produk .container .slider .cards {
    display: flex;
    flex-direction: column;
  }
  .produk .container .slider .cards .card {
    margin-bottom: 10px;
    width: 280px;
    height: 130px;
  }
}
@media (max-width: 390px) {
  .produk .container .sidebox {
    width: 90%;
  }
  .produk .container .slider {
    width: 95%;
  }
  .produk .container .slider .cards {
    display: flex;
    flex-direction: column;
  }
  .produk .container .slider .cards .card {
    margin-bottom: 10px;
    width: 180px;
    height: 130px;
  }
}
.komunitas {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #18A13D;
}
.komunitas .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .komunitas .container {
    width: 95%;
    padding: 60px 0;
  }
}
.komunitas .container h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}
.komunitas .container p {
  width: 100%;
  max-height: 500px;
  text-align: center;
  margin-bottom: 20px;
}
.komunitas .container .btn {
  font-weight: bold;
  color: #191A19;
  text-decoration: none;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.1s linear;
  cursor: pointer;
}
.komunitas .container .btn:hover {
  transform: scale(1.02);
}
.komunitas .container .btn:active {
  transform: scale(0.98);
}

@media (max-width: 630px) {
  .komunitas .container h1 {
    font-size: 2.7em;
  }
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18A13D;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #191A19;
}

.dnone {
  display: none;
}/*# sourceMappingURL=main.css.map */