.secnav {
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.377);
  z-index: 999;
  transition: 0.2s ease-out;
}
.secnav .nav1 {
  background-color: #191A19;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}
.secnav .nav1 .container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secnav .nav1 .container .sec1 {
  display: flex;
  align-items: center;
}
.secnav .nav1 .container .sec1 .logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/streetHub.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.secnav .nav1 .container .sec1 .humb #check {
  display: none;
}
.secnav .nav1 .container .sec1 .navbar {
  display: flex;
}
.secnav .nav1 .container .sec1 .navbar .pencarian {
  margin: auto 20px;
}
.secnav .nav1 .container .sec1 .navbar .pencarian input {
  font-size: 0.8em;
  outline: none;
  border: 0.5px solid #191A19;
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
  background-color: #0e0e0e;
  color: white;
  border-radius: 10px;
  padding: 5px 12px;
  box-sizing: border-box;
}
.secnav .nav1 .container .sec1 .navbar .pencarian input:focus {
  border: 1px solid #18A13D;
  box-shadow: 0 0 10px rgba(49, 181, 95, 0.274);
}
.secnav .nav1 .container .sec1 .navbar .navMenu {
  display: flex;
  list-style: none;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li {
  height: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li a {
  text-align: none;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li span {
  width: 100%;
  height: 3px;
  background-color: #18A13D;
  opacity: 0;
}
.secnav .nav1 .container .sec1 .navbar .navMenu li:hover span {
  opacity: 1;
}
.secnav .nav1 .container .secTengah {
  display: none;
}
.secnav .nav1 .container .secTengah .logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/icon/streetHub.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.secnav .nav1 .container .sec2 {
  display: flex;
  align-items: center;
  position: relative;
}
.secnav .nav1 .container .sec2 .keranjang {
  width: 30px;
  height: 30px;
  justify-self: flex-end;
  background-image: url(../img/icon/keranjang1.png);
  background-size: cover;
  margin-left: 20px;
  cursor: pointer;
}
.secnav .nav1 .container .sec2 .account {
  justify-self: flex-end;
  background-color: #18A13D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.secnav .nav1 .container .sec2 .account .profile {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
}
.secnav .nav1 .container .sec2 .account .arrow {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon//panahKanan2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(90deg);
  margin: 5px;
}
.secnav .nav1 .container .sec2 .dropdown {
  background-color: #191A19;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: -145px;
  padding: 10px 15px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
  border-radius: 5px;
}
.secnav .nav1 .container .sec2 .dropdown .segitiga {
  width: 0;
  height: 0;
  position: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #191A19;
  top: -10px;
  right: 35px;
}
.secnav .nav1 .container .sec2 .dropdown a {
  width: 100px;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
}
.secnav .nav1 .container .sec2 .dropdown a:hover {
  background-color: #202320;
}
.secnav .nav1 .container .sec2 .dropdown span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  margin-bottom: 5px;
}
.secnav .nav2 {
  display: none;
}

.scroll-down div.secnav {
  transform: translate3d(0, -100%, 0);
}

@media (max-width: 850px) {
  .secnav .nav1 {
    position: relative;
  }
  .secnav .nav1 .container .sec1 {
    flex-direction: row-reverse;
  }
  .secnav .nav1 .container .sec1 .humb {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }
  .secnav .nav1 .container .sec1 .humb #check {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .secnav .nav1 .container .sec1 .humb span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
  }
  .secnav .nav1 .container .sec1 .logo {
    display: none;
  }
  .secnav .nav1 .container .sec1 .navbar {
    display: none;
  }
  .secnav .nav1 .container .secTengah {
    display: block;
  }
  .secnav .nav1 .container .sec2 {
    display: flex;
    align-items: center;
  }
  .secnav .nav1 .container .sec2 .keranjang {
    margin-left: 0;
  }
  .secnav .nav1 .container .sec2 .account {
    display: none;
  }
  .secnav .nav2 {
    display: flex;
    background-color: #191A19;
    font-size: 16px;
  }
  .secnav .nav2 .navbar {
    width: 95%;
    margin: 10px auto;
  }
  .secnav .nav2 .navbar .pencarian {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .secnav .nav2 .navbar .pencarian input {
    width: 99.9%;
    font-size: 0.8em;
    outline: none;
    border: 1px solid #191A19;
    box-shadow: 0 0 10px rgba(197, 197, 197, 0.274);
    background-color: #0e0e0e;
    color: white;
    border-radius: 10px;
    padding: 5px 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .secnav .nav2 .navbar .pencarian input:focus {
    border: 1px solid #18A13D;
    box-shadow: 0 0 10px rgba(49, 181, 95, 0.274);
  }
  .secnav .nav2 .navbar .navMenu {
    font-weight: bold;
    list-style: none;
    color: white;
  }
  .secnav .nav2 .navbar .navMenu a {
    text-decoration: none;
    color: white;
  }
  .secnav .nav2 .navbar .navMenu li {
    display: flex;
    flex-direction: column;
  }
  .secnav .nav2 .navbar .navMenu li a {
    margin-bottom: 10px;
  }
  .secnav .nav2 span {
    width: 99.9%;
    height: 3px;
    background-color: #1E201E;
    margin-bottom: 10px;
  }
}
div#bookmark.bookmark {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
div#bookmark.bookmark .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
div#bookmark.bookmark .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#bookmark.bookmark .content .logo {
  width: 90px;
  height: 90px;
  background-color: #18A13D;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#bookmark.bookmark .content .logo .mainLogo {
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div#bookmark.bookmark .content h1 {
  font-size: 3.5em;
  text-align: center;
}
div#bookmark.bookmark .content p {
  margin-top: 5px;
}

footer.footer {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
footer.footer .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 40px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  footer.footer .container {
    width: 95%;
    padding: 60px 0;
  }
}
footer.footer .container .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
footer.footer .container .links ul {
  list-style-type: none;
}
footer.footer .container .links .card {
  width: 150px;
}
footer.footer .container .links .card ul li {
  margin-bottom: 20px;
}
footer.footer .container .links .card ul li span {
  font-weight: bold;
}
footer.footer .container .links .card ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
footer.footer .container .links .card ul li a:hover {
  color: #18A13D;
}
footer.footer .container .links .card ul li .logo {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
footer.footer .container .links .card ul li .logo.fb {
  background-image: url(../img/icon/facebook.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.ig {
  background-image: url(../img/icon/instagram.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.tw {
  background-image: url(../img/icon/twitter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .card ul li .logo.web {
  background-image: url(../img/icon/web.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .cardAppLink {
  width: 220px;
}
footer.footer .container .links .cardAppLink span {
  font-weight: bold;
  margin-bottom: 10px;
}
footer.footer .container .links .cardAppLink .app {
  display: flex;
  justify-content: space-between;
}
footer.footer .container .links .cardAppLink .app .appLogo {
  width: 100px;
  height: 45px;
}
footer.footer .container .links .cardAppLink .app .appLogo.appStore {
  background-image: url(../img/icon/appStore.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .links .cardAppLink .app .appLogo.googlePlay {
  background-image: url(../img/icon/googlePlay.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer.footer .container .line {
  width: 100%;
  height: 3px;
  background-color: #1E201E;
  margin: 100px auto 20px;
}
footer.footer .container .copyright {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer.footer .container .copyright a {
  color: white;
  text-decoration: none;
}
footer.footer .container .copyright a:hover {
  color: #18A13D;
}
footer.footer .container .copyright .dll {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

@media (max-width: 768px) {
  footer.footer .container .links .card {
    margin-bottom: 20px;
  }
  footer.footer .container .line {
    margin-top: 40px;
  }
  footer.footer .container .copyright .copyBy {
    width: 150px;
  }
  footer.footer .container .copyright .dll {
    width: 200px;
  }
}
@media (max-width: 576px) {
  footer.footer .container .copyright {
    flex-direction: column;
  }
  footer.footer .container .copyright .copyBy {
    margin-bottom: 10px;
  }
}
.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.hero .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: 100vh;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .hero .container {
    width: 95%;
    padding: 60px 0;
  }
}
.hero .bGradient {
  background-color: red;
}
.hero .container {
  width: 100%;
  background: linear-gradient(180deg, rgba(25, 26, 25, 0.3) 0%, #191A19 94.68%);
}
.hero .container img {
  width: 180px;
  border-radius: 50%;
  border: 5px solid white;
  margin-bottom: 10px;
}
.hero .container h1 {
  margin-bottom: 10px;
  font-size: 3em;
}
.hero .container .sosmed {
  display: flex;
}
.hero .container .sosmed .icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .container .sosmed .icon.fb {
  background-image: url(../img/icon/facebook.png);
}
.hero .container .sosmed .icon.ig {
  background-image: url(../img/icon/instagram.png);
}
.hero .container .sosmed .icon.tw {
  background-image: url(../img/icon/twitter.png);
}
.hero .container .sosmed .icon.web {
  background-image: url(../img/icon/web.png);
}
.hero .container .sosmed .icon:hover {
  transform: scale(1.1);
}
.hero .container p.quote {
  font-style: italic;
  text-align: center;
  max-width: 720px;
  width: 90%;
}

@media (max-width: 768px) {
  .hero .container h1 {
    font-size: 2.5em;
  }
}
@media (max-width: 576px) {
  .hero .container img {
    width: 140px;
  }
  .hero .container h1 {
    font-size: 2em;
  }
}
.navProfile {
  width: 100%;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.377);
  z-index: 99;
  background-color: #191A19;
}
.navProfile .container {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.navProfile .container ul {
  list-style: none;
  display: flex;
}
.navProfile .container ul li {
  margin: 0 20px;
}
.navProfile .container ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navProfile .container ul li a:hover {
  color: #18A13D;
}
.navProfile .container ul .ulActive a {
  color: white;
}
.navProfile .container ul .ulActive a:hover {
  color: white;
}
.navProfile .container ul .ulActive span {
  width: 100%;
  height: 3px;
  display: block;
  background-color: #18A13D;
}

@media (max-width: 390px) {
  .navProfile .container ul li {
    margin: 0 5px;
  }
}
.fotoTerbaru {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.fotoTerbaru .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .fotoTerbaru .container {
    width: 95%;
    padding: 60px 0;
  }
}
.fotoTerbaru .container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fotoTerbaru .container .cardTerbaru {
  width: 410px;
  height: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}
.fotoTerbaru .container .cardTerbaru .backPic,
.fotoTerbaru .container .cardTerbaru .frontPic {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid white;
  transition: 0.3s linear;
}
.fotoTerbaru .container .cardTerbaru .frontPic {
  position: absolute;
  display: flex;
  text-decoration: none;
  z-index: 2;
}
.fotoTerbaru .container .cardTerbaru .frontPic .content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.fotoTerbaru .container .cardTerbaru .frontPic .content h2, .fotoTerbaru .container .cardTerbaru .frontPic .content p {
  text-align: center;
}
.fotoTerbaru .container .cardTerbaru .frontPic .content .line {
  width: 75%;
  height: 2.5px;
  background-color: white;
  margin: 30px 0;
}
.fotoTerbaru .container .cardTerbaru .backPic {
  transform: rotateZ(-5deg);
}
.fotoTerbaru .container .cardTerbaru .frontPic:hover ~ .backPic {
  transform: rotateZ(-8deg);
}

@media (max-width: 1220px) {
  .fotoTerbaru .container .cardTerbaru {
    width: 450px;
    height: 350px;
  }
}
@media (max-width: 990px) {
  .fotoTerbaru .container .cardTerbaru {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 670px) {
  .fotoTerbaru .container .cardTerbaru {
    width: 350px;
    height: 250px;
    margin-bottom: 40px;
  }
}
@media (max-width: 390px) {
  .fotoTerbaru .container .cardTerbaru {
    width: 300px;
    height: 200px;
  }
}
.fotoLawas {
  width: 100%;
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.fotoLawas .container {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  height: fit-content;
  padding: 100px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .fotoLawas .container {
    width: 95%;
    padding: 60px 0;
  }
}
.fotoLawas .container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fotoLawas .container .cardLawas {
  width: 310px;
  height: 210px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.fotoLawas .container .cardLawas .backPic,
.fotoLawas .container .cardLawas .frontPic {
  width: 90%;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 6px solid white;
  transition: 0.3s linear;
}
.fotoLawas .container .cardLawas .frontPic {
  position: absolute;
  display: flex;
  text-decoration: none;
  z-index: 2;
}
.fotoLawas .container .cardLawas .frontPic .content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.fotoLawas .container .cardLawas .frontPic .content h2 {
  text-align: center;
}
.fotoLawas .container .cardLawas .frontPic .content .line {
  width: 75%;
  height: 2.5px;
  background-color: white;
  margin: 20px 0;
}
.fotoLawas .container .cardLawas .backPic {
  transform: rotateZ(-5deg);
}
.fotoLawas .container .cardLawas .frontPic:hover ~ .backPic {
  transform: rotateZ(-8deg);
}

@media (max-width: 1220px) {
  .fotoLawas .container .cardLawas {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 990px) {
  .fotoLawas .container .cardLawas {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .fotoLawas .container .cardLawas {
    width: 250px;
    height: 150px;
  }
}
@media (max-width: 576px) {
  .fotoLawas .container .cardLawas {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 390px) {
  .fotoLawas .container .cardLawas {
    width: 250px;
    height: 150px;
  }
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #191A19;
}/*# sourceMappingURL=profile.css.map */