@use '../../abstracts' as *;
@use '../../components' as *;

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: $secondary;
}

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: $primary;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

html{
    scroll-behavior: smooth;
}

.streeters{
    width: 100%;
    // background-color: darkolivegreen;
    @include section();
    align-items: flex-start;
    .container{
        align-items: flex-start;
        overflow: hidden;
        h1{
            span{
                color: $secondary;
            }
        }
        .profiles{
            width: 100%;
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            .profile{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 20px 20px;
                .image{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    // background-color: red;
                    margin-bottom: 5px;
                    @include bg();
                }
            }
        }
    }
}

.ygDicari{
    h1{
        span{
            color: $secondary;
        }
    }
    .container{
        width: 90%;
        margin: auto;
        .galeri{
            width: 100%;
            columns: 3;
            column-gap: 20px;
            padding: 40px 0;
            .gambar{
                position: relative;
                // position: relative;
                img{
                    width: 100%;
                    height: fit-content;
                    margin-bottom: 20px;
                    transition: .2s linear;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}

.preViewImgGallery{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: scroll;
    padding: 40px 0;
    box-sizing: border-box;
    .container{
        width: 80%;
        max-width: 1200px;
        min-height: fit-content;
        height: fit-content;
        max-height: fit-content;
        padding: 40px;
        box-sizing: border-box;
        background-color: $primary;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.599);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        a.uploader{
            text-decoration: none;
            color: white;
            display: flex;
            margin-bottom: 0 auto 20px;
            justify-content: center;
            align-items: center;
            .profilePic{
                width: 40px;
                height: 40px;
                @include bg();
                background-color: $secondary;
                border-radius: 50%;
            }
            h2{
                margin-left: 5px;
            }
        }
        p#tglUpload{
            margin: 5px 0 20px;
        }
        form.action{
            display: flex;
            flex-direction: row;
            @include normalBtn($danger);
            .btn{
                border: 0;
                display: flex;
                font-size: 1em;
                margin: 0 5px;
                &.unduh{
                    background-color: $secondary;
                }
                .icon{
                    margin-left: 5px;
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                    &.iconHapus{
                        background-image: url(../img/icon/delete.png);
                    }
                    &.iconUnduh{
                        background-image: url(../img/icon/download.png);
                    }
                }
            }
        }
        .close{
            width: 30px;
            height: 30px;
            background-image: url(../img/icon/close.png);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        img{
            // width: fit-content;
            max-width: 90%;
            max-height: 500px;
            margin-bottom: 20px;
        }
    }
}


@include media(tablet){
    .ygDicari{
        .container{
            .galeri{
                columns: 2;
                column-gap: 20px;
                padding: 60px 0;
            }
        }
    }
    .preViewImgGallery{
        align-items: center;
        .container{
            a.uploader{
                .profilePic{
                    width: 32px;
                    height: 32px;
                }
                h2{
                    font-size: 1.9em;
                }
            }
            p#tglUpload{
                font-size: 1em;
            }
            .close{
                width: 25px;
                height: 25px;
            }
        }
    }
}

@include media(hp){
    .streeters{
        .container{
            margin-top: 20px;
            h1{
                font-size: 1.5em;
            }
            .profiles{
                .profile{
                    .image{
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
    .ygDicari{
        h1{
            font-size: 1.5em;
        }
        .container{
            .galeri{
                columns: 2;
                column-gap: 20px;
                padding: 60px 0;
            }
        }
    }
    .preViewImgGallery{
        align-items: center;
        .container{
            a.uploader{
                .profilePic{
                    width: 32px;
                    height: 32px;
                }
                h2{
                    font-size: 1em;
                }
            }
            p#tglUpload{
                text-align: center;
                font-size: .8em;
            }
            form.action{
                flex-direction: column;
                .btn{
                    margin-bottom: 5px;
                }
            }
            .close{
                width: 20px;
                height: 20px;
            }
        }
    }
}