@use '../abstracts' as *;

div#bookmark.bookmark{
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        width: 90px;
        height: 90px;
        background-color: $secondary;
        border-radius: 50%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .mainLogo{
            width: 64px;
            height: 64px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    h1{
        font-size: 3.5em;
        text-align: center;
    }
    p{
        margin-top: 5px;
    }
}
@include media(notebook){
    div#bookmark.bookmark{
        .logo{
            width: 80px;
            height: 80px;
            .mainLogo{
                width: 58px;
                height: 58px;
            }
        }
        h1{
            font-size: 3em;
        }
    }
}
@include media(tablet){
    div#bookmark.bookmark{
        height: 250px;
        .logo{
            width: 70px;
            height: 70px;
            .mainLogo{
                width: 54px;
                height: 54px;
            }
        }
        h1{
            font-size: 2.5em;
        }
    }
}
@include media(hp){
    div#bookmark.bookmark{
        height: 200px;
        .logo{
            width: 60px;
            height: 60px;
            .mainLogo{
                width: 48px;
                height: 48px;
            }
        }
        h1{
            font-size: 2em;
        }
    }
}