$primary: #191A19;
$secondary: #18A13D;
$danger: #a02525;
$semu: #1E201E;
$semu2: #202320;
$pd: #141514;
$pl: #0e0e0e;
$iform: #e0e0e06f;
$overlay: rgba(000,000,000,.5);
$overlayPic: rgba(000,000,000,.3);
$shadow: 0 10px 20px rgba(0, 0, 0, 0.377);
$gradient: linear-gradient(90deg, rgba(25,26,25,1) 0%, rgba(25,26,25,1) 5%, rgba(25,26,25,0.6084558823529411) 77%, rgba(25,26,25,0) 100%);
// $overlay: #191a1973;