@use 'color' as *;
@use 'media' as *;

@mixin list($tebal: normal, $warna: white){
    font-weight: $tebal;
    list-style: none;
    color: $warna;
    a{
        text-decoration: none;
        color: $warna;
    }
}


@mixin homeRegularTitle($mb: 10px){
    h1{
        font-size: 2.5em;
        margin-bottom: $mb;
        text-align: center;
        span{
            color: $secondary;
        }
    }
    @include media(laptop){
        h1{
            font-size: 2.3em;
        }
    }
    @include media(notebook){
        h1{
            font-size: 2.1em;
        }
    }
    @include media(tablet){
        h1{
            font-size: 2.1em;
        }
    }
}

@mixin homeSideBoxTitle($miniTitle: false, $adaSpan: false){
    h2{
        color: $secondary;
        font-size: 1.5em;
    }
    h1{
        font-size: 3.5em;
        width: 200px;
        // background-color: darkgrey;
        margin-bottom: 20px;
        span{
            color: $secondary;
        }
    }
    p{
        margin-bottom: 40px
    }
    
    @include media(notebook){
        h2{
            font-size: 1.3em;
        }
        h1{
            font-size: 3em;
        }
    }
    @include media(notebook){
        h2{
            font-size: 1.2em;
        }
        h1{
            font-size: 2.5em;
        }
    }
}