@use '../../abstracts' as *;
@use '../../components' as *;

.hero{
    @include section(100vh);
    animation: herobg 300s linear infinite;
    background-position: center;
    background-size: cover;
    .container{
        font-size: 16px;
        h1{
            font-size: 4em;
            margin-bottom: 30px;
        }
        h2{
            font-size: 1.5em;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 1em;
            width: 450px;
            text-align: center;
            margin-bottom: 100px;
        }
        @include normalBtn();
    }
    @keyframes herobg {
        0%{ background-image: url(../img/home/home3.png); }
        24%{ background-image: url(../img/home/home4.png); }
        25%{ background-image: url(../img/home/home2.png); }
        49%{ background-image: url(../img/home/home2.png); }
        50%{ background-image: url(../img/home/home1.png); }
        74%{ background-image: url(../img/home/home1.png); }
        75%{ background-image: url(../img/home/home4.png); }
        99%{ background-image: url(../img/home/home4.png); }
        100%{ background-image: url(../img/home/home5.png); }
    }
}

@include media(leptop){
    .hero{
        .container{
            h2{
                font-size: 1.4em;
            }
        }
    }
}
@include media(notebook){
    .hero{
        .container{
            h1{
                font-size: 3.8em;
                margin-bottom: 25px;
            }
            h2{
                font-size: 1em;
            }
            p{
                font-size: .9em;
            }
        }
    }
}
@include media(tablet){
    .hero{
        .container{
            h1{
                font-size: 3.4em;
                margin-bottom: 25px;
            }
            h2{
                font-size: 1em;
            }
            p{
                max-width: 320px;
                font-size: .8em;
                margin-bottom: 70px;
            }
        }
    }
}
@include media(hp){
    .hero{
        .container{
            h1{
                font-size: 3em;
                margin-bottom: 25px;
            }
            h2{
                font-size: .9em;
            }
            p{
                max-width: 250px;
                font-size: .8em;
                margin-bottom: 60px;
            }
        }
    }
}
