@use '../../abstracts' as *;
@use '../../components' as *;

.produk{
    @include section(100vh);
    @include bg(url(../img/home/alattempur.png), cover, top);
    min-height: 500px;
    overflow: hidden;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .sidebox{
            @include homeSideBoxTitle();
            @include btnArrow(color, 10px, 2);
            width: 500px;
        }
        .slider{
            display: flex;
            align-items: center;
            transition: .3s ease-in-out;
            .cards{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 550px;
                .card{
                    width: 230px;
                    height: 330px;
                    @include bg();
                    border: 10px;
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 20px;
                    box-sizing: border-box;
                    border-radius: 10px;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
                    // transition: .3s linear;
                    transform: scale(.95);
                    animation: scaleUp .4s ease-in forwards alternate;
                    .icon{
                        width: 32px;
                        height: 32px;
                        opacity: .5;
                        @include bg(false, cover, center);
                        &:hover{
                            opacity: 1;
                        }
                    }
                    &:hover{
                        transform: scale(1.02);
                    }
                    @keyframes scaleUp {
                        0%{
                            opacity: .5;
                            transform: scale(.95);
                        }
                        100%{
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
                .dnone{
                    display: none;
                }
            }
        
            .btnMove{
                // position: absolute;
                top: 45%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                .arrow{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
                &.next{
                    right: 0;
                    @include bg(url(../img/icon/arrowNext.png), contain);
                }
                &.previous{
                    left: 0;
                    @include bg(url(../img/icon/arrowPriveous.png), contain);
                }
            }
            .dnone{
                display: none;
            }
        }
    }
}

@include media(leptop){
    .produk{
        @include section(fit-content);
        .sidebox{
            margin-bottom: 30px;
        }
        .container{
            flex-direction: column;
            .slider{
                .cards{
                    // width: 480px;
                    .card{
                        // width: 180px;
                        // height: 280px;
                    }
                }
            }
        }
    }
}
@include media(notebook){
    .produk{
        .container{
            .sidebox{
                width: 90%;
            }
            .slider{
                width: 90%;
                .cards{
                    .card{
                        width: 180px;
                        height: 280px;
                    }
                }
            }
        }
    }
}
@include media(tablet){
    .produk{
        .container{
            .sidebox{
                width: 90%;
            }
            .slider{
                width: 90%;
                .cards{
                    display: flex;
                    flex-direction: column;
                    .card{
                        margin-bottom: 10px;
                        width: 280px;
                        height: 130px;
                    }
                }
            }
        }
    }
}
@include media(hp){
    .produk{
        .container{
            .sidebox{
                width: 90%;
            }
            .slider{
                width: 95%;
                .cards{
                    display: flex;
                    flex-direction: column;
                    .card{
                        margin-bottom: 10px;
                        width: 180px;
                        height: 130px;
                    }
                }
            }
        }
    }
}